.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps-app {
    padding: 20px;
    font-size: 1.2rem;
}

.steps-form {
    display: flex;
}


.form__item {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

label {
    
}

.form__item:last-of-type {
    justify-content: end;
}


.steps-form > :last-child {
    margin-right: 0;
}

.form__label {
    margin-bottom: 15px;
}

.form-button {
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FFF;
}

.form-button:hover {
    cursor: pointer;
}

input {
    padding: 10px;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 5px;
}

input:hover {
    cursor: pointer;
}

.table {
    margin-top: 20px;
}

.list {
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    font-size: 1rem;
}

.list > * {
    margin-bottom: 15px;
}

.list > :last-child {
    margin-bottom: 0;
}


.titles {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.title {
    width: 30%;
    display: flex;
    justify-content: center;
}

.steps-row {
    display: flex;
    justify-content: space-between;
}

.step_number {
    width: 30%;
    display: flex;
    justify-content: center;
}

.step_date {
    width: 30%;
}

.icons {
    width: 30%;
    display: flex;
    justify-content: end;
}